.skills-title-section h2{
    font-size: calc(5px + 2vw);
}
.skills-category{
    margin:5% auto;
}
.skills-category h3{
    font-size: calc(4px + 1.5vw);
}
.skills-category ul{
    width:50%;
    list-style-type:none;
    display:grid;
    grid-template-columns:1fr 1fr;

    padding:0;
    margin:auto;
}
.skills-category ul li{
    display: inline-block;
    font-size: calc(2px + 1.1vw);
    margin: auto auto 8% auto;
}

@media screen and (max-width: 900px){
    .skills-title-section h2{
        font-size: calc(5px + 7vw);
    }
    .skills-category h3{
        font-size: calc(2px + 5.5vw);
    }
    .skills-category ul{
        display: block;
        max-width: none;
    }
    
    .skills-category ul  li{
        display:block;
        font-size: calc(1px + 4vw);
        margin: auto auto 6% auto
    }
}